.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background: #1c92d2;  
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
background: linear-gradient(to right, #f2fcfe, #1c92d2); 
        position: relative;
        top: 70px;
      scroll-snap-type: y ;
      //  scrollbar-width: none;
     //   &::-webkit-scrollbar{
    //       display: none;
       // }
        
        > *{ 
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            
        }
    }
}